.DS_Store
node_modules
build/**/*.*
!build/core/package.json
!build/bundle/package.json
!build/react/package.json
!build/svelte/package.json
!build/package.json
custom
*.log

.versions
.idea
package/cjs
package/components
package/esm
package/types
!package/types/package.json
package/**/*.js
package/**/*.map
package/**/*.metadata.json
package/**/*.ts
package/**/*.d.ts*
package/*.js
package/*.ts
package/*.css
package/*.map
package/*.less
package/*.scss
package/*.svelte
!package/postinstall.js
dist/demo


cypress/screenshots

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
