[
  {
    "test": ".*.ts$",
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": true,
        "dynamicImport": true
      },
      "target": "es2016"
    }
  },
  {
    "test": ".*.js$",
    "jsc": {
      "parser": {
        "syntax": "ecmascript",
        "jsx": true
      },
      "target": "es2016",
      "loose": true
    }
  }
]
