body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 50px auto;
}

.swiper-slide {
  background: #f1f1f1;
  color: #000;
  text-align: center;
  line-height: 300px;
}

@import '../../../build/swiper-bundle.css';
