:root {
  /*
  --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-left: auto;
  --swiper-pagination-right: 8px;
  --swiper-pagination-bottom: 8px;
  --swiper-pagination-top: auto;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 36px;
  --swiper-pagination-bullet-height: 2px;
  --swiper-pagination-bullet-border-radius: 0;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.25;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 8px;
  */
}

:host {
  --swiper-theme-color: #000;
}

.swiper {
  padding-bottom: var(--swiper-pagination-area-height, 24px);
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
  &.swiper-pagination-hidden {
    opacity: 0;
  }
  .swiper-pagination-disabled > &,
  &.swiper-pagination-disabled {
    display: none !important;
  }
}

/* Progress */
.swiper-pagination-progressbar {
  position: absolute;
  bottom: calc(
    (var(--swiper-pagination-area-height, 24px) - var(--swiper-pagination-progressbar-size, 2px)) /
      2
  );
  left: 50%;
  transform: translateX(-50%);
  width: var(--swiper-pagination-width, 100px);
  height: var(--swiper-pagination-progressbar-size, 2px);
  overflow: clip;
  background: var(--swiper-pagination-progressbar-bg-color, #bbb);

  .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
  }
}
.swiper-pagination-lock {
  display: none;
}
