/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:focus { outline: 0; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 20px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt 
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Vladimir Kharlampidi, The iDangero.us
   ========================================================================== */

body {
	background: #bcf4be url(../img/bg.png) repeat-x left top;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#333;
	line-height:1.3em;
	position: relative;
	min-width: 640px;
}
header {
	width: 640px;
	height: 200px;
	margin: 0 auto 50px;
	position: relative;
	z-index: 1;
}
.logo {
	
}
.main {
	width: 640px;
	margin: 0 auto;
}

.swiper-main {
	width: 640px;
	height: 300px;
	position: relative;
	margin-bottom: 20px;
}

.sm-shadow {
	position: absolute;
	bottom: -15px;
	width: 606px;
	height: 38px;
	left: 17px;
	background: url(../img/shadow.png);
}
.swiper1, .swiper1 .swiper-slide{
	width: 640px;
	height: 300px;
}
.pagination1 {
	text-align: center;
}
.content-slide {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
}
.cs-1, .cs-2 {
	float: left;
	width:270px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.cs-1 {
	margin-right: 20px;
	background: #333;
	color: #fff;
}
.cs-2 {
	background: #ad2e4c;
	color: #fff;
}
/* Pagination */
.pagination1 .swiper-pagination-switch {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: #a8f3aa;
	box-shadow: 0px 1px 2px #555 inset;
	margin: 0 3px;
}
.pagination1 .swiper-active-switch {
	background: #2f9933;2f9933
}

.sw-title {
	border-bottom: 1px solid #3d4d09;
	padding-bottom: 10px;
	font-size: 48px;
	font-style: italic;
	width: 400px;
	margin: 20px auto 10px;
	font-family: "Lobster Two", Arial, Helvetica;
	text-align: center;
	line-height: 50px;
	color: #364210;
	text-shadow: 0px 1px 2px #fff;
}
.sw-content {
	background: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 40px;
}
.swiper-v, .swiper-v .swiper-slide, .swiper-free, .swiper-free .swiper-slide {
	width: 640px;
	height: 250px;
	color: #fff;
}

.swiper-v, .swiper-free {
	box-shadow: 0px -1px 4px rgba(0,0,0,0.5);
	text-align: center;
}
.swiper-v h2, .swiper-free h2 {
	font-style: italic;
	font-size: 42px;
	margin-top: 80px;
	margin-bottom: 0;
	line-height: 45px;
}
.swiper-v p,.swiper-free p {
	font-style: italic;
	font-size: 25px;
}
.demo-title {
	margin-bottom: 5px;
	text-align: center;
	font-size: 16px;
}
.swiper-v,.swiper-free {
	margin-bottom: 30px;
}
/* Pagination V*/
.pagination-v .swiper-pagination-switch, .pagination-free .swiper-pagination-switch {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background: #555;
	margin: 0 0px 5px;
	opacity: 0.8;
	border: 1px solid #fff;
}
.pagination-v .swiper-active-switch, .pagination-free .swiper-active-switch {
	background: #fff;
}
.pagination-v, .pagination-free  {
	position: absolute;
	z-index: 20;
	left: 10px;
	top: 10px;
}
.pagination-free  {
	width: 140px;
	left: 10px;
	top: 230px;
}
.pagination-free .swiper-pagination-switch {
	display: block;
	margin: 0 5px;
	float: left;
}
.red-slide {
	background: #ca4040;
}
.blue-slide {
	background: #4390ee;
}
.orange-slide {
	background: #ff8604;
}
.green-slide {
	background: #49a430;
}
.pink-slide {
	background: #973e76;
}

/* Tabs */
.tabs a {
	display: block;
	float: left;
	width: 200px;
	text-align: center;
	border-radius: 5px 5px 0 0;
	border: 1px solid #ccc;
	background: #fff;
	line-height: 40px;
	font-size: 25px;
	font-style: italic;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ddd)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #ffffff, #ddd); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #ffffff, #ddd); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #ffffff, #ddd); /* IE10 */
	background-image:      -o-linear-gradient(top, #ffffff, #ddd); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #ffffff, #ddd);
}
.tabs a.active {
	color: #fff;
	background: #333;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#333), to(#000)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #333, #000); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #333, #000); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #333, #000); /* IE10 */
	background-image:      -o-linear-gradient(top, #333, #000); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #333, #000);
	border-bottom: 1px solid #000;
}
.swiper-tabs {
	background: #333;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #000, #333); /* Chrome 10+, Saf5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #000, #333); /* FF3.6 */
	background-image:     -ms-linear-gradient(top, #000, #333); /* IE10 */
	background-image:      -o-linear-gradient(top, #000, #333); /* Opera 11.10+ */
	background-image:         linear-gradient(to bottom, #000, #333);
	height: 250px;
	border-radius: 0 0 5px 5px;
	border: 1px solid #ccc;
	
	width: 640px;
	border-top: 0;
}
.swiper-tabs .swiper-slide {
	height: 250px;
	width: 640px;
	background: none;
	color: #fff;
}
.swiper-tabs .content-slide2 {
	padding: 40px;
}
.puzzle {
	width: 630px;
	height: 300px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0px 1px 2px #000;
}
.puzzle .swiper-container, .puzzle .swiper-slide {
	width: 210px;
	height: 150px;
	float: left;
}

.mc1 {
	background: #444;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	height: 240px;
	border-bottom: 1px solid #777;
	box-shadow: 0px 2px 5px #000 inset;
}
.mc2 {
	background: #111;
	-moz-border-radius: 0 0 5p 5px;
	-webkit-border-radius: 0 0 5p 5px;
	border-radius: 0 0 5px 5px;
	height: 80px;
	border-bottom: 1px solid #777;
	box-shadow: 0px 2px 5px #000 inset;
}


.mc2 .swiper-container, .mc2 .swiper-slide {
	width: 525px;
	height: 60px;
}
.mc2 .swiper-container {
	position:relative;
	top: 7px;
}
.mc-control .swiper-slide {
	text-align: center;
}
.mc-control .swiper-slide img {
	width: 50px;
	height: 50px;
	position: relative;
	top: 5px;
	border: 1px solid #fff;
	display: inline-block;
	margin: 0 5px;
}
.mc1 .swiper-container, .mc-posters .swiper-slide {
	width:640px;
	height: 240px;
}
.m-content {
	padding: 40px;
}
.m-content img {
	float: left;
	border: 2px solid #ccc;
	margin-right: 30px;
	border-radius: 5px;
}
.m-content .m-right {
	float: left;
	width: 370px;
	color: #fff;
}
.m-content h3 {
	margin-top: 0;
}


pre, code {
	font-size: 12px;
	background: #eee;
	border:1px solid #ccc;
	padding: 10px;
	border-radius: 3px;
}
pre em {
	color: #777;
}
.lobster {
	font-family: "Lobster Two", Arial, Helvetica;
}
.params td, .params th {
	border-right: 1px solid #ccc !important;
	border-bottom: 1px solid #ccc !important;
	padding: 3px 5px;
	font-size: 12px;
}
.params tr {
	border-left: 1px solid #ccc;
}
.params {
	border-top: 1px solid #ccc;
}
.params tbody td:nth-child(1) {
	font-weight: bold;
}
.params tbody td:nth-child(2) {
	color: #923434;	
}
.params tbody td:nth-child(4), .params tbody td:nth-child(3) {
	width: 100px;	
}


/* Swiper cArousel*/
.swiper-car {
	margin-bottom:30px;
}
.swiper-car, .swiper-car .swiper-slide {
	width:630px;
	height:250px;
	color:#fff;
	text-align:center;
	line-height:250px;
	font-size:50px;
}
.pagination-car {
    left: 10px;
    top: 230px;
    width: 160px;
	position:absolute;
	z-index:20;
}
.pagination-car .swiper-pagination-switch {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    display: block;
    height: 8px;
    margin: 0 5px;
    opacity: 0.8;
    width: 8px;
    float: left;
}
.pagination-car .swiper-active-switch {
    background: none repeat scroll 0 0 #FFFFFF;
}

/* Swiper cArousel & loop*/
.swiper-loop {
	margin-bottom:30px;
}
.swiper-loop, .swiper-loop .swiper-slide {
	width:630px;
	height:250px;
	color:#fff;
	text-align:center;
	line-height:250px;
	font-size:50px;
}
.pagination-loop {
    left: 10px;
    top: 230px;
    width: 160px;
	position:absolute;
	z-index:20;
}
.pagination-loop .swiper-pagination-switch {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    display: block;
    height: 8px;
    margin: 0 5px;
    opacity: 0.8;
    width: 8px;
    float: left;
}
.pagination-loop .swiper-active-switch {
    background: none repeat scroll 0 0 #FFFFFF;
}

/* Nested Swipers*/
.swiper-nested1 {
	margin-bottom:30px;
}
.swiper-nested1, .swiper-nested1 .swiper-slide {
	width:630px;
	height:250px;
	color:#fff;
	text-align:center;
	line-height:250px;
	font-size:50px;
}
.pagination-nested1 {
    left: 10px;
    top: 230px;
    width: 160px;
	position:absolute;
	z-index:20;
}
.pagination-nested1 .swiper-pagination-switch {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    display: block;
    height: 8px;
    margin: 0 5px;
    opacity: 0.8;
    width: 8px;
    float: left;
}
.pagination-nested1 .swiper-active-switch {
    background: none repeat scroll 0 0 #FFFFFF;
}


.swiper-nested2, .swiper-nested2 .swiper-slide {
	width:100%;
	height:250px;
	color:#fff;
	text-align:center;
	line-height:125px;
	font-size:30px;
}
.pagination-nested2 {
    right: 5px;
    top: 5px;
	position:absolute;
	z-index:20;
}
.pagination-nested2 .swiper-pagination-switch {
    background: none repeat scroll 0 0 #555555;
    border: 1px solid #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    display: block;
    height: 8px;
    margin: 0 0px 5px;
    opacity: 0.8;
    width: 8px;
}
.pagination-nested2 .swiper-active-switch {
    background: none repeat scroll 0 0 #FFFFFF;
}


/* Scroll Container */
.swiper-scroll-container {
	width:640px;
	height:300px;
}
.swiper-scroll-container .swiper-slide {
	width: 1520px !important;	
	height:300px;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }