<main>
  <swiper
    #swiperVirtualRef
    [slidesPerView]="3"
    [spaceBetween]="50"
    [pagination]="{ type: 'fraction' }"
    virtual
    [centeredSlides]="true"
    navigation
  >
    <swiper-slide *ngFor="let slide of virtualSlides; index as i">{{ slide }}</swiper-slide>
  </swiper>

  <swiper
    #swiperRef
    [navigation]="navigation"
    (swiper)="log('swiper')"
    (slideChange)="log('slideChange')"
    [slidesPerView]="slidesPerView"
    [spaceBetween]="50"
    [scrollbar]="scrollbar"
    [pagination]="pagination"
  >
    <swiper-slide>
      <ng-template swiper-slide-content let-active="isActive">
        test 1 {{ active ? 'active' : 'nope' }}</ng-template
      >
    </swiper-slide>
    <swiper-slide>
      <ng-template swiper-slide-content let-active="isActive" let-next="isNext">
        test 2 {{ active ? 'active' : 'nope' }} {{ next }}</ng-template
      >
    </swiper-slide>
    <swiper-slide>
      <ng-template swiper-slide-content let-active="isActive" let-data="slideData">
        test 3 {{ active ? 'active' : 'nope' }} {{ data.isNext }}</ng-template
      >
    </swiper-slide>
    <swiper-slide *ngFor="let slide of slides; index as i">{{ slide }}</swiper-slide>
  </swiper>
  <button (click)="togglePagination()">Toggle pagination</button>
  <button (click)="toggleNavigation()">Toggle navigation</button>
  <button (click)="toggleScrollbar()">Toggle scrollbar</button>
</main>
