@import url('./less/mixins.less');

@themeColor: $themeColor;
@colors: $colors;

@font-face {
  @fontBase64: swiperIconsFont();
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, @{fontBase64}") format("woff");
  font-weight: 400;
  font-style: normal;
}

@import url('./components/core/core.less');

//IMPORT_COMPONENTS
