.swiperWrapper {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiperContainer {
  width: 100%;
}

.swiperContent {
  height: 100%;
  overflow: visible;
}

.swiperSlideItem {
  display: flex;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-reflect: below 10px -webkit-linear-gradient(bottom, rgba(255, 0, 0, 0.1) 0%, transparent
          32px, transparent 100%);
  }
}
