.swiper-panorama > .swiper-wrapper {
  overflow: visible;
}

.panorama-slider {
  padding: 48px 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.panorama-slider .swiper {
  width: 100%;
  height: 280px;
}

.panorama-slider .slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.panorama-slider .swiper-pagination {
  bottom: -10px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-color: #fff;
}

.panorama-slider .swiper-slide {
  -webkit-box-reflect: below 10px -webkit-linear-gradient(bottom, rgba(255, 0, 0, 0.1) 0%, transparent
        32px, transparent 100%);
}
